<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
	
	     <mvc:interceptor>
			<mvc:mapping path="/web/**"/>
			<mvc:exclude-mapping path="/web/register"/>
			<mvc:exclude-mapping path="/web/product"/>
			<mvc:exclude-mapping path="/web/home"/>
			<mvc:exclude-mapping path="/web/introduce"/>
			<mvc:exclude-mapping path="/web/contact"/>
			<mvc:exclude-mapping path="/web/login"/>
			<bean class="com.bookstore.intercepter.KhachHangIntercepter" />
		</mvc:interceptor>
		 <mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/login"/>		
			<bean class="com.bookstore.intercepter.AdminIntercepter" />
		</mvc:interceptor>
		 <mvc:interceptor>
			<mvc:mapping path="/shipper/**"/>
			<mvc:exclude-mapping path="/shipper/login"/>			
			<bean class="com.bookstore.intercepter.ShipperIntercepter" />
		</mvc:interceptor>
		
	</mvc:interceptors>

</beans>